* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-bg: #111c22;
  --white: #fff;
  --header: #fecb00;
  --header2: #256d7b;
  --header3: #ea899a;
  --header4: #ec7c26;
  --header5: #d0d0d0;
  --danger: #e66f7b;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-bg);
  overflow-x: hidden;
}

p {
  color: var(--white);
}
